::-moz-selection { background: #cfb383; }
::selection { background: #cfb383; }

.template-header .template-header-top .template-header-top-logo 
{
    max-width:480px;
    /*width: 450px;*/
}

.template-content {
    min-height: 0;
}


.template-component-menu-default ul.sf-menu>li.sf-mega-enable-0 ul,
.template-component-menu-default ul.sf-menu>li.sf-mega-enable-1>div 
{
    border-color: #cfb383;
}

.template-background-image,
.template-footer .template-footer-top
{
    background-image: url('../image/background.png');
    background-position-y: bottom;
}

.template-icon-menu.template-icon-menu-school
{
    background-image: url('../image/icon/menu/school_brown.png')
}
.template-icon-menu.template-icon-menu-document
{
    background-image: url('../image/icon/menu/document_brown.png')
}
.template-icon-menu.template-icon-menu-signpost
{
    background-image: url('../image/icon/menu/signpost_brown.png')
}
.template-icon-menu.template-icon-menu-envelope
{
    background-image: url('../image/icon/menu/envelope_brown.png')
}
.template-icon-menu.template-icon-menu-schoolbag
{
    background-image: url('../image/icon/menu/schoolbag_brown.png')
}

.template-component-call-to-action-content h3 {
    color: #707070;
}
.template-component-call-to-action-content h3 b { color: #707070; }

ul.footer-menu li {
    display: inline;
}
ul.footer-menu li a {
    margin: 0 10px;
}

.template-component-class > ul > li > .template-layout-flex-50x50 > div > span, 
.template-component-class > ul > li > .template-layout-flex-50x50 > div > 
.template-layout-flex-50x50 span:first-child + span
{
    color: #f1f1f1;
}
.template-layout-flex-50x50 h5 b
{
    color: #fff;
}

.template-footer .template-footer-bottom {
    /*border-top: 5px solid #94A53A;*/
}

.template-component-blockquote {
    padding: 8px 0px 8px 30px;
    border-width: 0px 0px 0px 2px;
    background-repeat: no-repeat;
    background-image: none;
}

.template-widget-menu ul>li>a:hover,
.template-widget-menu ul>li>a.active {
    color:#d02c33;
    border-left-color:#d02c33;
    padding-left:19px;
    border-left-width:2px;
}

.template-component-vertical-grid.dagprogram > ul > li > div:first-child 
{
    color: #d02c33;
    text-align: right;
}
.template-component-vertical-grid.dagprogram > ul > li > div:first-child + div 
{
    text-align: left;
    color: #707070;
}

.template-component-feature.template-component-feature-size-medium.template-component-feature-position-left ul > li > ul {
    list-style-type: circle;
    margin-left: 126px;
}


@media only screen and (min-width:960px) and (max-width:1069px)
{
    .template-header .template-header-top .template-header-top-logo a img
    {
            max-width:400px;
            padding-top: 10px;
    }
}
@media only screen and (min-width:768px) and (max-width:979px)
{
    .template-header .template-header-top .template-header-top-logo a img
    {
            max-width:350px;
            padding-top: 18px;
    }
}

@media only screen and (min-width:0px) and (max-width:787px)
{
    .template-header .template-header-top .template-header-top-logo a img
    {
            max-width:300px;
            margin-left:auto;
            margin-right:auto;
            padding: 5px 0;
    }
}